@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    background-color: var(--secondary-color);
    color: var(--text-color);
}

body {
    margin: 0;
}
:root {
    /* colors */
    --primary-color: #d24437;
    --secondary-color: #ffffff;
    --tritiary-color: #55ae55;
    --text-color: #000000;
    --buttonText-color: #ffffff;
    --mobileNavigation-color: #ffffff;
    --desktopNavigation-color: #d24437;
    --blue-button: #3DADFF;
    /* spacers */
    --tnSpacer: 1rem;
    --smSpacer: 3rem;
    --mdSpacer: 5rem;
    --lgSpacer: 10rem;
    /* font sizes */
    --h1-font-size: 2rem;
    --h2-font-size: 1.5rem;
    --lgText-font-size: 1rem;
    --smTect-font-size: 0.75rem;
}

h1{
  font-size: var(--h1-font-size);
  margin: 0;
  font-weight: 400;
}
h2{
  font-size: var(--h2-font-size);
  margin-bottom: 0;
  font-weight: 400;
}
/* Burgermenu */
.burger, .close {
    width: 2rem;
    height: 2rem;
  }
  .burger {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1001;
  }
  .close {
    position: absolute;
    top: 20px;
    right: 20px;
  }
  .menu {
    position: fixed;
    top: 0;
    right: -19rem;
    width: 19rem;
    height: 100vh;
    background-color: var(--primary-color);
    transition: right 0.3s ease;
    z-index: 1002;
    padding: 3.5rem 1.25rem 1.25rem;
  }
  .menu.open {
    right: 0;
  }
  .menu ul, .menu li {
    list-style: none;
    padding: 0;
    background-color: var(--primary-color);
  }
  .menu ul li {
    background-color: var(--primary-color);
    margin: 20px 0;
  }
  .menu ul li a {
    background-color: var(--primary-color);
    text-decoration: none;
    color: var(--mobileNavigation-color);
    font-size: var(--lgText-font-size);
  }
  .burgermenu svg{
    background-color: transparent;
  }
  /* Resten af NAV */
  header{
    display: flex;
    align-items: center;
    margin-bottom: var(--mdSpacer);
  }
  header img{
    width: 4rem;
  }
  header h1{
    font-size: var(--h1-font-size);
  }
  /* Forside */
  .hero{
    width: 100%;
    height: 277px;
    object-fit: cover;
    object-position: center;
  }

  .sectionMobil{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    margin: 20px;
    margin-bottom: var(--tnSpacer);
  }
  .sectionMobil p {
    font-size: var(--smTect-font-size);
    margin-left: var(--smSpacer);
    margin-right: var(--smSpacer);
  }
  .sectionMobil h2 {
    font-size: var(--h2-font-size);
    display: flex;
    justify-content:center;
  }

  .articleMobil{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    margin: 20px;
  }
  .articleMobil p {
    font-size: var(--smTect-font-size);
  }
  .articleMobil h2 {
    font-size: var(--h2-font-size);
  }
  .articleImgMobil{
    width: 100%;
    height: 80%;
    margin-top: var(--tnSpacer);
  }

  .knap1{
    background-color: var(--blue-button);
    color: white;
    font-size: var(--lgText-font-size);
    padding: var(--tnSpacer);
    border-radius: 1rem;
    text-decoration: none;
    width: var(--lgSpacer);
    display: flex;
    justify-content: center;
  }

  .knap1 a{
    background-color: var(--blue-button);
    color: white;
    font-size: var(--lgText-font-size);
    padding: var(--tnSpacer);
    border-radius: 1rem;
    text-decoration: none;
  }


  /* kontakt side details styling */
  .kontakt{
    padding: var(--tnSpacer);
    border-radius: 0.5rem;
    background-color: var(--primary-color);
    margin: var(--tnSpacer);
  }
  .kontakt summary{
    color: var(--secondary-color);
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
  }
  summary {
    list-style: none;
    cursor: pointer;
    color: var(--secondary-color);

  }
  details>summary::-webkit-details-marker {
      display: none;
  }

  details>summary::after {
      content: '▶';
  }

  details[open]>summary::after {
      content: '▼';
  }

  /* Armwrestling Styling */

  #AWheader {
    text-align: center;
    padding-top: var(--smSpacer);
  }

  .HeroAW {
    width: 80vW;
    justify-content: center;
  }

  /* footer styling */
  footer p, footer a, footer section, footer h2, footer img, footer i {
    background-color: var(--primary-color);
  }
  footer h2, footer p, footer i {
    color: var(--secondary-color);
  }
  footer i{
    font-size: 1.5rem; 
    margin: var(--tnSpacer);
  }
  footer{
    margin-top: var(--mdSpacer);
    display: flex;
    
  }
  .sponsorer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: var(--smSpacer);
  }
.footerinfo{
    padding: var(--tnSpacer);
}

.holdcard{
  position: relative;
  margin-bottom: var(--lgSpacer);
  background-color: var(--primary-color);
  border-radius: 1rem;
  margin: 1rem;
}
.holdcard p{
  background-color: var(--primary-color);
  color: white;
  border-radius: 1rem;
}
.modal {
  display: none;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: transparent;
}
.modal-content {
  background-color: var(--primary-color);
  margin: 10% auto;     
  padding: 1rem;
  width: 80%; 
}
.modal p{
  color: white;
}

.close {
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}